.heading {
  overflow: hidden;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.heading > h1 {
  transition: transform 500ms ease;
  transform: translateX(-400%);
}

.swiper-slide-next .heading > h1 {
  transform: translateX(400%);
}
.swiper-slide-prev .heading > h1 {
  transform: translateX(-400%);
}

.swiper-slide-active .heading > h1 {
  transform: translateX(0);
}

.swiper-pagination-progressbar {
  @apply bg-black/20 w-full h-0.5 rounded-full mt-8;
}

.swiper-pagination-progressbar-fill {
  @apply bg-black w-full h-full block origin-left;
}

.swiper-slide {
  height: auto !important;
}
.swiper-content {
  height: 100% !important;
}
